/tmp
/modules
/lib
/test-result
/logs
/nbproject
/.settings
/.metadata
/.classpath
/.project
/eclipse
/logs
/.sublime-project
/.sublime-workspace
/autorefresh.bat
/.livereload
/SyncToy_cef20e64-0255-43e5-8c9d-ce63916f3574.dat
/SyncToy_a7f04b62-dd8b-42a3-9855-2eea79ebfd92.dat