#{extends 'main.html' /}
#{set title:messages.get('title.players') /}
#{set page:'players' /}

#{if players.size()}
<a name="top"></a>
<div class="title_box">
    <h2 class="title_icon players_icon">&{'main.players'}</h2>
</div>

<div class="players_box">
    <table>
        <tr>
            <th>&{'player'}</th>
            <th>&{'player.login'}</th>
        </tr>
        #{list items:players, as:'player'}
        #{if player.logins}
        <tr>
            <td>#{a @Application.player(player.logins[0])}${player.name}#{/a}</td>
            <td>
                #{list items:player.logins, as:'login'}
                ${login}
                #{if !login_isLast}<br/>#{/if}
                #{/list}
            </td>
        #{/if}
        #{/list}
        </tr>
    </table>
</div>
<div id="totop">
    <a href="#top">Top</a>
</div>
#{/if}

#{else}
<div class="content">
    <h1>&{'error.noplayer'}</h1>
</div>
#{/else}