#{extends 'main.html' /}
#{set title:messages.get('title.player', player?.name) /}
#{set page:'players' /}

#{if player}
<div class="title_box">
    <h2 class="title_icon players_icon">${player.name}</h2>
</div>


<div class="player_box">
    <table>
        <tr>
            <th>&{'pmc.number.title'}</th>
            <th>&{'player.rank'}</th>
            <th>&{'player.score'}</th>
            <th>&{'player.gain'}</th>
            <th>&{'player.nbraces'}</th>
        </tr>
        #{list items:results, as:'result'}
        <tr>
            <td>#{a @Application.pmc(result.pmc.number)}&{'pmc.number', result.pmc.number}#{/a}</td>
            <td>${result.rank} / ${result.pmc.results.size()}</td>
            <td>${result.score}</td>
            <td>${result.gain}</td>
            <td>${result.nbRaces}</td>
        </tr>
        #{/list}
    </table>
</div>

#{/if}

#{else}
<div class="content">
    <h1>&{'error.wrongplayer'}</h1>
</div>
#{/else}